<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: 'Editar registro de usuario' }) %>
    <!-- <body class="bodyRegistro-1"> -->

    <body>
        <!-- header -->
        <%- include("../partials/header") %>
            <!-- /header -->
            <!-- main -->
            <main class="container container-wrapper">
                <!-- title -->
                <div class="row mb-4">
                    <div class="col-12 bg-container-title-custom">
                        <h2 class="color-title-custom">EDITAR REGISTRO DE USUARIO</h2>
                    </div>
                </div>
                <!-- /title -->
                <!-- form -->
                <div class="row">
                    <div class="col-12">
                        <form action="/autenticacion/editar-usuario/<%=user.id%>?_method=PUT" method="post">
                            <div class="row justify-content-center" enctype="multipart/form-data">
                                <!-- Name and Surname -->
                                <div class="col-12 col-md-6 col-lg-8 mb-3">
                                    <label class="form-label" for="name">Nombre y apellido<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="name" name="name"
                                        placeholder="Introduce nombre y apellido" value="<%= user.name %>" required>
                                </div>
                                <!-- /Name and Surname -->
                                <!-- Avatar-->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label for="userPicture" class="form-label">Selecciona la imgen de usuario<span class="required-custom">*</span></label>
                                    <input class="form-control" id="userPicture" type="file" name="userPicture"
                                        accept="image/*" value="<%= user.userPicture %>">
                                </div>
                                <!-- /Avatar-->
                                <!-- Provincia -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="province">Provincia <span
                                            class="required-custom">*</span></label>
                                    <select class="form-select" id="province" name="province" required>
                                        <% province.forEach((p)=> {%>
                                            <option value="<%= p.code %>" <%=p.code===user.province ? 'selected' : '' %>
                                                >
                                                <%= p.name %>
                                            </option>
                                            <% }); %>

                                                <!-- <option selected>¿Selecciona una provincia?</option> -->
                                    </select>
                                </div>
                                <!-- /Provincia -->
                                <!-- Locality -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="locality">Localidad<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="locality" name="locality"
                                        placeholder="Introduce la localidad" value="<%= user.locality %>" required>
                                </div>
                                <!-- /Localidad -->
                                <!-- Codigo Postal -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="postal">Código postal<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="number" id="postal" name="postal"
                                        placeholder="Introduce el código postal" value="<%= user.postal %>" required>
                                </div>
                                <!-- /Codigo Postal -->
                                <!-- Street -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="street">Dirección<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="street" name="street"
                                        placeholder="Introduce la dirección" value="<%= user.street %>" required>
                                </div>
                                <!-- /Street -->
                                <!-- streetNumber -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="streetNumber">Numeración<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="number" id="streetNumber" name="streetNumber"
                                        placeholder="Introduce la numeración" value="<%= user.streetNumber %>" required>
                                </div>
                                <!-- /streetNumber -->
                                <!-- floor -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="floor">Piso<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="number" id="floor" name="floor"
                                        placeholder="Introduce el número de piso" value="<%= user.floor %>" required>
                                </div>
                                <!-- /floor -->
                                <!-- Between 1 -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="betweenSt1">Calle 1<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="betweenSt1" name="betweenSt1"
                                        placeholder="Introduce la calle" value="<%= user.betweenSt1 %>" required>
                                </div>
                                <!-- /Between 1 -->
                                <!-- Between 2 -->
                                <div class="2 l-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="betweenSt2">Calle 2<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="betweenSt2" name="betweenSt2"
                                        placeholder="Introduce la calle" value="<%= user.betweenSt2 %>" required>
                                </div>
                                <!-- /Between 2 -->
                                <!-- phoneNumber -->
                                <div class="col-12 col-md-6 col-lg-4 mb-3">
                                    <label class="form-label" for="phoneNumber">Teléfono de contacto<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
                                        placeholder="Introduce el teléfono de contacto" value="<%= user.phoneNumber %>"
                                        required>
                                </div>
                                <!-- /phoneNumber -->
                                <!-- indications -->
                                <div class="col-12 col-md-6 col-lg-12 mb-3">
                                    <label class="form-label" for="indications">Indicaciones adicionales<span
                                            class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="indications" name="indications"
                                        placeholder="Introduce las indicaciones adicionales"
                                        value="<%= user.indications %>" required>
                                </div>
                                <!-- /indications -->
                                <div
                                    class="col-12 col-md-10 d-flex flex-column flex-md-row justify-content-md-center justify-content-lg-end gap-3 mb-3">
                                    <button class="btn btn-register-custom " type="submit">REGISTRAR</button>
                                    <button class="btn btn-cancel-custom" type="reset">CANCELAR</button>
                                </div>
                                <!-- /Button-->
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /form -->
            </main>
            <!-- /main -->
            <!-- footer -->
            <footer class="sub-footer">
                <!-- Footer -->
                <%- include("../partials/footer") %>
            </footer>
            <!-- /footer -->
            <!-- Script Bootstrap -->
            <%- include("../partials/scripts") %>
                <!-- /Script Bootstrap -->
    </body>

</html>