<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head", {title: 'Página no encontrada'}) %>

    <body>
        <%- include("../partials/header") %>
            <div class="container py-5">
                <div class="row text-center py-5">
                    <div class="col-md-12">
                        <h1 class="fw-bold">Opps!</h1>
                        <p class="fs-3"><span class="text-danger"><%= mensage %></span></p>
                        <!--<p class="lead"> La página que estás buscando no existe.</p>-->
                        <img src="/images/logo/panda-triste.png" class="img-fluid img-thumbnail"
                            alt="simplemente-juguetes-logo" style="max-width: 200px;">
                        <p><a href=<%= redireccion %>  class="btn btn-register-custom mt-5"> <%= boton %> </a></p>
                    </div>
                </div>
            </div>
            <%- include("../partials/footer")%>
    </body>

</html>