<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: 'Lista de jueguetes' }) %>
    <body>
        <%- include("../partials/dashbar") %>
            <main>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="mt-4 title-page">Listado de Usuarios</h1>
                        </div>
                    </div>
                    <!-- boton volver -->
                    <!-- <div class="mb-3"><a class="btn btn-secondary a-volver-edit-product" href="/">Volver</a></div> -->
                    <!-- /boton volver-->

                    <div class="row my-4">
                        <div class="col-12 d-flex justify-content-between">

                            <div>
                                <a href="/autenticacion/crear-usuario" class="btn custom-btn-add-green"><i
                                        class="fa-solid fa-plus"></i> Agregar
                                    Usuario</a>
                            </div>
                            <div>
                                <form action="/buscar" method="GET" class="d-flex">
                                    <input class="form-control" name="keywords" type="search" placeholder="Buscar...">
                                    <button class="btn btn-outline-success" type="submit">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="d-flex align-items-center  gap-3">
                                <span>Mostrar </span>
                                <select class="form-control form-select-md" onchange="changePageSize(this.value)">
                                    <option value="5" <% if (pageSize===5) { %> selected <% } %>>5
                                    </option>
                                    <option value="10" <% if (pageSize===10) { %> selected <% } %>>10
                                    </option>
                                    <option value="15" <% if (pageSize===15) { %> selected <% } %>>15
                                    </option>
                                    <option value="50" <% if (pageSize===50) { %> selected <% } %>>50
                                    </option>
                                    <option value="100" <% if (pageSize===100) { %> selected <% } %>>100
                                    </option>
                                </select>
                                <span> registros</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center custom-table-red ">Id</th>
                                        <th class="text-center custom-table-red">Imagen<img src="" alt=""></th>
                                        <th class="text-center custom-table-red">Usuario</th>
                                        <th class="text-center custom-table-red">Nombre completo</th>
                                        <th class="text-center custom-table-red">Correo electrónico</th>
                                        <th class="text-center custom-table-red">Acciones</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th class="text-center custom-table-red ">Id</th>
                                        <th class="text-center custom-table-red">Imagen<img src="" alt=""></th>
                                        <th class="text-center custom-table-red">Usuario</th>
                                        <th class="text-center custom-table-red">Nombre completo</th>
                                        <th class="text-center custom-table-red">Correo electrónico</th>
                                        <th class="text-center custom-table-red">Acciones</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <% users.forEach(u=> { %>
                                        <tr>

                                            <td class="text-center align-middle">
                                                <%=u.id%>
                                            </td>

                                            
                                            <td class="text-center align-middle">
                                                <img src="/images/users/<%= u.userPicture !== "" ? u.userPicture : 'default-image.jpg' %>"
                                                     alt="" class="no_img rounded-circle custom-img-size">
                                            </td>
                                            <td class="text-center align-middle">
                                                <%=u.userName%>
                                            </td>
                                            <td class="text-center align-middle">
                                                <%=u.name%>
                                            </td>

                                            <td class="text-center align-middle">
                                                <%=u.email%>
                                            </td>
                                            <td class="text-center align-middle">
                                                <div class="d-flex">
                                                    <a href="/perfil/<%= u.id %>" class="btn"
                                                        target="_blank"><i
                                                            class="fa-solid fa-eye custom-icon-green"></i></a>
                                                    <a href="/autenticacion/editar-usuario/<%= u.id %>" class="btn"><i
                                                            class="fa-regular fa-pen-to-square custom-icon-blue"></i></a>

                                                    <a href="/autenticacion/eliminar-usuario?id=<%= u.id %>&name=<%= u.userName %>"
                                                        class="btn" data-toggle="modal" data-target="#exampleModal"><i
                                                            class="fa-solid fa-trash-can custom-icon-red"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                                Mostrando <%= Math.min((currentPage - 1) * pageSize + 1, itemCount) %> a <%=
                                        Math.min(currentPage * pageSize, itemCount) %> de <%= itemCount %> registros
                            </div>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-end">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <% if (currentPage> 1) { %>
                                        <li class="page-item">
                                            <a class="page-link" href="?page=<%= currentPage - 1 %>">Anterior</a>
                                        </li>
                                        <% } %>

                                            <% for (let i=1; i <=pageCount; i++) { %>
                                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                    <a class="page-link" href="?page=<%= i %>">
                                                        <%= i %>
                                                    </a>
                                                </li>
                                                <% } %>

                                                    <% if (currentPage < pageCount) { %>
                                                        <li class="page-item">
                                                            <a class="page-link"
                                                                href="?page=<%= currentPage + 1 %>">Siguiente</a>
                                                        </li>
                                                        <% } %>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </main>
            <script>
                function changePageSize(newPageSize) {
                    const urlParams = new URLSearchParams(window.location.search);
                    urlParams.set('pageSize', newPageSize);
                    urlParams.set('page', 1); // Reset to the first page
                    window.location.search = urlParams.toString();
                }
            </script>
            <!-- scripts -->
            <%- include("../partials/scripts") %>
                <!-- /scripts -->
    </body>

</html>