<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head",{title:'Registrar'}) %>
    <!--   HEADER    -->
    <%- include("../partials/header") %>
        <!--     MAIN    -->
        <main class="mainRegistro">
            <div class="fondoRegis">
                <span class="span1">
                    <img src="../images/other/fondoPrueba.png" alt="" class="IMG1">
                <!--fondRegis1.jpg-->
                </span>

                <!--
                <span class="span2">
                    <img src="../images/other/fondRegis2.jpg" alt="" class="IMG2">
                </span>
                -->>
            </div>
            <nav class="naregdes">
                <div class="divFormReg" id="">
                    <form method="post" class="formReg" action="/autenticacion/registro" enctype="multipart/form-data">
                        <!--formulario principal-->
                        <img src="../images/logo/panda-logo.png" alt="logo" class="pandaFormularioReg">
                       
                        <h2 class="login-h2">Bienvenido</h2>
                        
                        <label for="Email">Correo electronico</label>
                        <div class="errorsReg emailEr"><%- locals.errors?.email?.msg %></div>
                        <input type="email" name="email" id="email" placeholder="" value="<%= locals.old?.email %>"> 
                        

                        <label for="password">Contraseña</label>
                        <div class="errorsReg passwordEr" ><%- locals.errors?.password?.msg %></div>
                        <input type="password" class="password-input" name="password" id="password" placeholder="" > 
                            
                        <!---
                        <label for="password">Contraseña</label>
                        <div class="errorsReg passwordEr" ><%- locals.errors?.password?.msg %></div>
                         <div class="search-container">
                            <input type="password" class="password-input" name="password" id="password" placeholder="" > 
                            <button type="submit" class="search-button">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </div>
                        -->

                        <label for="confgPass">Confirmar contraseña</label>
                        <div class="errorsReg confirmpasswordEr"><%- locals.errors?.confirmpassword?.msg %></div>
                        <input type="password" name="confirmpassword" class="margenEspRegis" placeholder="" > 
                        
                        
                        
                        <!--menu de insercion de foto y nombre-->
                        <div class="perfilReg">
                            <!--imagen de usuario-->
                            <div class="fotodePerfil">
                            
                                    <figure class="figureuserPictureReg">
                                        <img id="userPictureReg" class="userPictureReg" src="/images/user/solicitudFoto3.png" alt="">
                                        <div class="selectDivUser"><input class="selectPicUser"  id="selectPicUser" type="file" name="userPicture" accept="image/*"></div>
                                    </figure>
                            </div>
                            <div>
                                <div class="errorsReg selectPicUserEr"><%- locals.errors?.userPicture?.msg %></div>
                                <label for="nombreUsuario">Nombre de Usuario</label>
                                <div class="errorsReg userNameEr"><%- locals.errors?.userName?.msg %></div>
                                <input type="text" name="userName" placeholder="" value="<%= locals.old?.userName %>">
                            </div>
                        </div>
                        <button type="button" class="botonSiguienteRegis toggle" ><a href="">Registrarme</a></button>
        
                    <p class="accessLogin">¿Ya tienes cuenta?<a href="/autenticacion/login"> Accede aqui</a></p >
                </div>
                <div class="div-img-googler">
                    <img class="img-googler" src="/images/other/google-icon.png" alt="">
                    <p class="i-googler">Ingresa con google</p>
            </nav>

            <main class="mainRegistro-1" id="">
                <nav>
                    <!--Formulario opcional-->
                    <div class="form">
                        <label for="nombreCompleto" class="elCienReg">Nombre y apellido<div class="errorsReg nameEr"><%- locals.errors?.name?.msg %></div></label>
                        <input type="text" class="elCienReg" placeholder="nombreEjemplo" name="name" value="<%= locals.old?.name %>">
                    
                        <div class="blocReg1">
                            <label for="provincia" class="blocReg1-1">Provincia<div class="errorsReg provinceErr"><%- locals.errors?.province?.msg %></div></label>
                            <select class="blocReg1-2" name="province" value="<%= locals.old?.province %>">
                                <option value="" selected hidden>provinciaEjemplo</option>
                                <option value="BA">Buenos Aires</option>
                                <option value="CA">Catamarca</option>
                                <option value="CH">Chaco</option>
                                <option value="CT">Chubut</option>
                                <option value="CB">Córdoba</option>
                                <option value="CR">Corrientes</option>
                                <option value="ALLÍ">Entre Ríos</option>
                                <option value="FO">Formosa</option>
                                <option value="TU">Jujuy</option>
                                <option value="ELEPÉ">La Pampa</option>
                                <option value="LR">La Rioja</option>
                                <option value="MZ">Mendoza</option>
                                <option value="MI">Misiones</option>
                                <option value="NQ">Neuquén</option>
                                <option value="RN">Río Negro</option>
                                <option value="SA">Salta</option>
                                <option value="SJ">San Juan</option>
                                <option value="SL">San Luis</option>
                                <option value="SC">Santa Cruz</option>
                                <option value="SF">Santa Fe</option>
                                <option value="SE">Santiago del Estero</option>
                                <option value="TF">Tierra del Fuego</option>
                                <option value="TU">Tucumán</option>
                            </select>
                            
                            <label for="calle" class="blocReg1-3">Calle<div class="errorsReg streetEr"><%- locals.errors?.street?.msg %></div></label>
                            <input type="text" class="blocReg1-4" placeholder="calleEjemplo" name="street" value="<%= locals.old?.street %>">
                            
                        </div>
                        <div class="blocReg2">
                            <label for="localidad" class="blocReg2-1">Localidad<div class="errorsReg localityEr"><%- locals.errors?.locality?.msg %></div></label>
                            <input type="text" class="blocReg2-2" placeholder="localidadEjemplo" name="locality" value="<%= locals.old?.locality %>">
                            
                            <label for="numero" class="blocReg2-3">Número<div class="errorsReg streetNumberEr"><%- locals.errors?.streetNumber?.msg %></div></label>
                            <input type="number" placeholder="S/N" class="blocReg2-4" name="streetNumber" value="<%= locals.old?.streetNumber %>">
                            
                        </div>
                        <label class="queCallesRegis">¿Entre qué calles está? (opcional)</label>
                        <div class="calleReg">
                            <label for="calle1" class="callebloReg1">Calle 1</label>
                            <input type="text" class="callebloReg2" placeholder="calleEjemplo1" name="betweenSt1" value="<%= locals.old?.betweenSt1 %>">
                            <label for="calle2" class="callebloReg3">Calle 2</label>
                            <input type="text" class="callebloReg4" placeholder="calleEjemplo2" name="betweenSt2" value="<%= locals.old?.betweenSt2 %>">
                        </div>
                        <div class="blocReg3">
                            <label for="codigoPos" class="blocReg3-1">Código postal<div class="errorsReg postalEr"><%- locals.errors?.postal?.msg %></div></label>
                            <input type="number" class="blocReg3-2" placeholder="0000" name="postal" value="<%= locals.old?.postal %>">
                            
                            <label for="piso" class="blocReg3-3">Piso (opcional)<div class="errorsReg floorEr"><%- locals.errors?.floor?.msg %></div></label>
                            <input type="number"  class="blocReg3-4" placeholder="pisoEjemplo" name="floor" value="<%= locals.old?.floor %>">
                            
                            <label for="telContac" class="blocReg3-5">Telefono de contacto<div class="errorsReg phoneNumberEr"><%- locals.errors?.phoneNumber?.msg %></div></label>
                            <input type="number"  class="blocReg3-6" placeholder="telCont." name="phoneNumber" value="<%= locals.old?.phoneNumber %>">
                            
                        </div>
                        <div class="blocReg4">
                            <label for="indicAdic" class="elCienReg">Indicaciones adicionales (opcional)</label>
                            <input type="text" class="elCienReg" placeholder="textoEjemplo" name="indications" value="<%= locals.old?.indications %>">
                        </div>
                    
                        <div class="botonesReg">
                           <button class="botonVolverRegis toggle2" type="button">
                                <p><a href="">Volver</a></p>
                            </button>
                            <button class="botonOmitirRegis" type="submit">
                                <p>Omitir</p>
                            </button>
                            <button class="botonContinuarRegis" type="submit">
                                <p>Continuar</p>
                            </button>
                           
                        </div>

                        
                    </div>
                    </form>
                </nav>

            </main>

        </main>
        <footer class="sub-footer">
            <!-- Footer -->
            <%- include("../partials/footer") %>
        </footer>
        <script src="/js/registro.js"></script>
        <script src="/js/imageSelector.js"></script>
        <script src="/js/registerValidation.js"></script>
        <!-- Script Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        </body>

</html>