<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

<body>

    <%- include("./partials/dashbar") %>
    <main>
        <h2 class="list_produt">listado de productos</h2>
        <div class="btn-volver"><button type="button" class="btn btn-secondary "><a class="a-volver-edit-product" href="/dashboard">volver</a></button></div>
    <table class="table table-success tabla-lista-productos" >
        <thead>
        <tr>
            <th scope="col-">id</th>
            <th scope="col-">img<img src="" alt=""></th>
            <th scope="col-">producto</th>
            <th scope="col-">precio</th>
            <th scope="col-">stock</th>
            <th scope="col-">descuento</th>
            <th scope="col-">descripcion</th>
            <th scope="col-">linea</th>
            <th scope="col-">personaje</th>
            <th scope="col-">coleccion</th>
            <th scope="col-">articulado</th>
            <th scope="col-">accesorios</th>
            <th scope="col-">colecionable</th>
            <th scope="col-">rango de edad</th>
        
        </tr>
        </tr>
        </thead>
        <tbody>
            <% products.forEach(p => { %>
                
           
        <tr class="col-12">
            <th scope="row "><%=p.id%></th>
            <td ><img src="/No_Image_Available.jpg" alt="" class="no_img"></td>
            <td><%=p.name%></td>
            <td><%=p.price%></td>
            <td><%=p.sku%></td>
            <td><%=p.colection%></td>
            <td><%=p.description%></td>
            <td ><%=p.line%></td>
            <td><%=p.character%></td>
            <td><%=p.characterVersion%></td>
            <td><%=p.articulated%></td>
            <td><%=p.accessories%></td>
            <td><%=p.collectable%></td>
            <td><%=p.minAge%></td>
            <td> <button type="button" class="btn btn-success ">guardar</button></td>
            <td><button type="reset" class="btn btn-danger boton">borrar</button></td>
            <td><a href="/editarProducto/<%= p.id %>" class="btn btn-warning boton">editar</a></td>
        </tr>
        <tr> 
       <%  }); %>
     <tbody>
        
     </tbody>
    </table>



</main>














    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>