<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head",{title:'perfil'}) %>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>
<body>
    <!-- Header -->

    <%- include("../partials/header") %>

    <main class="profile main-bg">
        
        <h1 class="title-profile">Perfil de Usuario</h1>


    <form action="/perfil/<%=user.id%>?_method=PUT" method="post">
         
        <div class="form-profile"> 
        <label for="userName">Nombre de Usuario:</label>
        <input type="text" id="userName" name="userName" value="<%= user.userName %>" readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;">
<br><br>


        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%= user.name %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="province">Provincia:</label>
        <input type="text" id="province" name="province" value="<%= user.province %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="locality">Localidad:</label>
        <input type="text" id="locality" name="locality" value="<%= user.locality %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="postal">Código Postal:</label>
        <input type="text" id="postal" name="postal" value="<%= user.postal %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="street">Calle:</label>
        <input type="text" id="street" name="street" value="<%= user.street %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="streetNumber">Número de Calle:</label>
        <input type="text" id="streetNumber" name="streetNumber" value="<%= user.streetNumber %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="floor">Piso:</label>
        <input type="text" id="floor" name="floor" value="<%= user.floor %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="betweenSt1">Entre Calle 1:</label>
        <input type="text" id="betweenSt1" name="betweenSt1" value="<%= user.betweenSt1 %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="betweenSt2">Entre Calle 2:</label>
        <input type="text" id="betweenSt2" name="betweenSt2" value="<%= user.betweenSt2 %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="phoneNumber">Número de Teléfono:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>"readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><br><br>

        <label for="indications">Indicaciones:</label>
        <textarea id="indications" name="indications" readonly onfocus="this.blur()" style="background-color: #b1b0b0; color: #ffffff;"><%= user.indications %></textarea><br><br>
                
        <label class="image-profile" for="image"><%= user.userPicture %>:</label>
        <input type="file" id="image" name="image">
    </div>
         
    <div class="sm-button">
        <input class="save-button"  type="submit" value="Guardar">
        <a class="change-button" href="/autenticacion/cerrar-session" class="change-password-button">Cerrar Sesion</a>
        <button class="change-button"><a href="/autenticacion/editar-usuario/<%= user.id %>">Modificar</a></button>

    </div>
    </form>

    </main>
    <!-- Footer -->
    
    <%- include("./partials/footer") %>

</body>

</html>

