<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {title: 'Pefil de usuario' }) %>
    <!-- <body class="bodyRegistro-1"> -->

    <body>
        <!-- header -->
        <%- include("../partials/header") %>
            <!-- /header -->

            <!-- main -->
            <main class="profile-container">
                <!-- title -->
                <div class="row mb-4">
                    <h1 class="title-profile">Perfil</h1>
                </div>
                <!-- /title -->
                <!-- form -->
                <div class="row">
                    <div class="col-12">

                        <form action="/autenticacion/editar-usuario/<%=user.id%>?_method=PUT" method="post"
                            enctype="multipart/form-data" id="form-update-product">
                            <div class="row justify-content-center">
                                <div class="bg-subtitle-custom col-12 col-md-10 mb-3">
                                    <h5>INFORMACIÓN DE CUENTA:</h5>
                                </div>
                                <!-- Name -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="userName">Nombre de usuario <span
                                        class="field-required text-danger"></span></label>
                                    <input class="form-control" type="text" id="userName" name="userName"
                                        placeholder="Introduce nombre y apellido" value="<%= user.userName %>" disabled>
                                </div>
                                <!-- /Name -->
                                <!-- Email  -->
                                <div class="col-12 col-md-5 col-lg-5 mb-3">
                                    <label class="form-label" for="email">Correo electrónico</label>
                                    <input class="form-control" type="text" id="email" name="email"
                                        placeholder="Introduce tu correo electrónico" value="<%= user.email %>"
                                        disabled>
                                </div>
                                <!-- /Email -->
                                <div class="bg-subtitle-custom col-12 col-md-10 mb-3">

                                    <h5>INFORMACIÓN PERSONAL:</h5>
                                </div>
                                <!-- Nombre y Apellido -->
                                <div class="col-12 col-md-5 col-lg-6 mb-3">
                                    <label class="form-label" for="name">Nombre y apellido <span
                                            class="required-custom">*</span></label>
                                        <input class="form-control" type="text" id="name" name="name"
                                        placeholder="Introduce tu nombre" value="<%= user.name %>"
                                        disabled>
                                </div>
                                <!-- /Nombre y Apellido -->
                                <!-- Avatar-->
                                <div class="col-12 col-md-5 col-lg-4 mb-3 text-center">
                                    <label for="profileImage" class="form-label">Imagen de perfil</label>
                                    <img id="profileImage" src="https://thumbs.dreamstime.com/b/default-profile-picture-avatar-photo-placeholder-vector-illustration-default-profile-picture-avatar-photo-placeholder-vector-189495158.jpg" alt="Imagen de perfil" class="img-thumbnail" style="width: 90px; height: 90px; object-fit: cover;">
                                </div>
                                <!-- /Avatar-->

                                <!-- Provincia -->
                                <div class="col-12 col-md-5 col-lg-4 mb-3">
                                    <label class="form-label" for="name">Provincia <span
                                        class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="province" name="province"
                                    placeholder="Provincia" value="<%= user.province %>"
                                    disabled>
                                </div>
                                <!-- /Provincia -->
                                <!-- Localidad -->
                                <div class="col-12 col-md-5 col-lg-4 mb-3">
                                    <label class="form-label" for="name">Localidad <span
                                        class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="locality" name="locality"
                                    placeholder="Introduce tu localidad" value="<%= user.locality %>"
                                    disabled>
                                </div>
                                <!-- /Localidad -->
                                <!-- Codigo Postal -->
                                <div class="col-12 col-md-5 col-lg-2 mb-3">
                                    <label class="form-label" for="postal">Postal <span
                                        class="required-custom">*</span></label>
                                    <input class="form-control" type="text" id="postal" name="postal"
                                    placeholder="Introduce tu numero de postal" value="<%= user.postal %>"
                                    disabled>
                                </div>
                                <!-- /Codigo Postal -->
                                <!-- Street -->
                                <div class="col-12 col-md-5 col-lg-4 mb-3">
                                    <label class="form-label" for="street">Dirección</label>
                                    <input class="form-control" type="text" id="street" name="street"
                                    placeholder="Dirección" value="<%= user.street %>"
                                    disabled>
                                </div>
                                <!-- /Street -->
                                <!-- streetNumber -->
                                <div class="col-12 col-md-5 col-lg-4 mb-3">
                                    <label class="form-label" for="streetNumber">Numeración</label>
                                    <input class="form-control" type="text" id="streetNumber" name="streetNumber"
                                    placeholder="Numeración" value="<%= user.streetNumber %>"
                                    disabled>
                                </div>
                                <!-- /streetNumber -->
                                <!-- floor -->
                                <div class="col-12 col-md-5 col-lg-2 mb-3">
                                    <label class="form-label" for="floor">Piso</label>
                                    <input class="form-control" type="text" id="floor" name="floor"
                                    placeholder="Piso" value="<%= user.floor %>"
                                    disabled>
                                </div>
                                <!-- /floor -->
                                <!-- Between 1 -->

                                <div class="col-12 col-md-5 col-lg-4 mb-3">
                                    <label class="form-label" for="betweenSt1">Calle 1</label>
                                    <input class="form-control" type="text" id="betweenSt1" name="betweenSt1"
                                    placeholder="Calle 1" value="<%= user.betweenSt1 %>"
                                    disabled>
                                </div>
                                <!-- /Between 1 -->
                                <!-- Between 2 -->
                                <div class="col-12 col-md-5 col-lg-4 mb-3">
                                    <label class="form-label" for="betweenSt2">Calle 2</label>
                                    <input class="form-control" type="text" id="betweenSt2" name="betweenSt2"
                                    placeholder="Calle 2" value="<%= user.betweenSt2 %>"
                                    disabled>
                                </div>
                                <!-- /Between 2 -->
                                <!-- phoneNumber -->
                                <div class="col-12 col-md-5 col-lg-2 mb-3">
                                    <label class="form-label" for="phoneNumber">Teléfono de contacto</label>
                                    <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
                                    placeholder="Teléfono de contacto" value="<%= user.phoneNumber %>"
                                    disabled>
                                </div>
                                <!-- /phoneNumber -->
                                <!-- indications -->
                                <div class="col-12 col-md-5 col-lg-10 mb-3">
                                    <label class="form-label" for="indications">Indicaciones adicionales</label>
                                    <input class="form-control" type="text" id="indications" name="indications"
                                    placeholder="Indicaciones" value="<%= user.indications %>"
                                    disabled>
                                </div>
                                <!-- /indications -->
                                <p class="text-danger col-12 text-center err-form-general"></p>
                                <!-- Botones -->
                                <div
                                    class="col-12 col-md-10 d-flex flex-column flex-md-row justify-content-md-center justify-content-lg-end gap-3 mb-3">
                                    <button class="btn btn-change-custom"><a href="/autenticacion/editar-usuario/<%= user.id %>">MODIFICAR</a></button>
                                    <button class="btn btn-logout-custom"><a class="change-button" href="/autenticacion/cerrar-session" class="change-password-button">CERRAR SESION</a></button>
                                </div>
                                <!-- /Botones -->
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /form -->
            </main>
            <!-- /main -->
            <!-- footer -->
            <footer class="sub-footer">
                <!-- Footer -->
                <%- include("../partials/footer") %>
            </footer>
            <!-- /footer -->
            <!-- Script Bootstrap -->
            <%- include("../partials/scripts") %>
                <!-- /Script Bootstrap -->
    </body>

</html>